@forward "./constants";

body {
  margin: 0;
  text-align: right;
  font-family: IRANYekan !important;
  direction: rtl;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box !important;
}

.font-data,
.ant-form-item-label,
.ant-tabs,
.ant-input,
.ant-table-wrapper,
.ant-table-column-title,
.ant-table-cell {
  font-family: IRANYekan !important;
}
.ant-tabs {
  .ant-tabs-tab {
    padding-left: 10px;
  }
}
.ant-table-wrapper {
  direction: rtl;
}
