@use "src/styles/main.scss" as *;

.table-wrapper {
  padding-top: toRem(16);
}
.guid {
  width: 100%;
  height: toRem(56);
  background-color: $gray-f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 toRem(16);
}
.action-item {
  padding: 0 toRem(4);
}

.content-wrapper {
  width: 100%;
  margin-top: toRem(8);
  .content {
    width: 100%;
    background-color: $gray-f6;
    padding: toRem(16);
    .content-top {
      width: 100%;
      display: flex;
      align-items: center;

      .content-item {
        width: 25%;
      }
    }
    .content-bottom {
      margin-top: toRem(16);
      display: flex;
      justify-content: space-between;
    }
  }
}

.add-modal {
  @include fontFamilyClass;
  p{
    margin-bottom: toRem(10);
    font-size: toRem(16);
  }
}
